[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]

requests = ">=2.20.0"
zeep = ">=1.3.0"

[dev-packages]

sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"


